<header class="main-header">
    <a href="index.html" class="logo">GemFlix</a>
    <nav class="main-nav">
        <ul>
            <li><a href="index.html">Trang Chủ</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Phim <i class="fa-solid fa-chevron-down" style="font-size:0.75rem; margin-left:4px;"></i></a>
                <div class="dropdown-content">
                    <a href="movies.html?type=showing">Phim Đang Chiếu</a>
                    <a href="movies.html?type=upcoming">Phim Sắp Chiếu</a>
                </div>
            </li>
            <li><a href="movies.html?type=trending">Phim Thịnh Hành</a></li>
            <li><a href="movies.html?type=new">Phim Mới Cập nhật</a></li>
        </ul>
    </nav>
    
    <div class="header-right">
        
        <div class="user-menu">
            <button id="user-menu-btn" class="user-menu-btn" title="Tài khoản">
                <i class="fa-solid fa-user"></i> 
            </button>
            <div class="user-dropdown" id="user-dropdown">
                <a href="login.html">Đăng nhập</a>
                <a href="register.html">Đăng kí</a>
            </div>
        </div>
        
        <div class="search-box">
            <input id="header-search-input" type="text" placeholder="Tìm kiếm...">
            <i id="header-search-btn" class="fa-solid fa-magnifying-glass" title="Tìm kiếm"></i>
        </div>

    </div>
</header>

